<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

  {%- include head.html -%}
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
  
    <!-- Link to the CSS file -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
  </head>

  <body>
    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        <div class="bio-container">
          <!-- Top section: Text on the left, image on the right -->
          <div class="bio-top">
            <div class="bio-image">
              <img src="{{ site.baseurl }}/assets/images/jason.jpg" alt="Jason Li" />
            </div>
            <div class="bio-text">
              <h2>About Me</h2>
              <p>
                Hi, I'm Jason Li, a Computer Science graduate student at UC Santa Barbara specializing in Machine Learning and AI in VR. 
                I'm passionate about building innovative solutions through software development and exploring the intersection of technology and creativity.
              </p>
            </div>
          </div>


          <!-- Bottom section: Full-width text -->
          <div class="bio-bottom">
            <p>
              I earned my Bachelor of Science in Computer Science from UC Santa Barbara, where I am now pursuing my Masters. 
              As a part of the Human-AI Integration Lab, my research involves simulating a classroom with an AI instructor and classmates in VR to determine if the activity of other students impacts learning productivity.
            </p>
            <p>
              I have a diverse range of professional experience, including roles as a Front End Developer at LPL Financial, a Game Designer at my school's Gaucho Game Lab, 
              and two years as a Back End and Full Stack Developer at CDK Global. In my last 2 years at UCSB, I've also been a TA for my school's Object Oriented Programming and Data Structures courses.
            </p>
            <p>
              Currently, I am working as a Senior Engineer at Western Digital on the RSS-FW Defect Management team. The world of hard drives is completely different than anything I've learned in school, 
              but the technology behind it amazes me every day. It's exciting to be working on a product that me and my friends use, as well as new innovations like HAMR. 
            </p>
            <p>
              Beyond coding, I enjoy playing badminton, watching basketball, and drawing in my spare time. I also teach computer science on the weekends at X-Camp Academy. One of the classes I teach involve algorithms that
              prepare students for USACO, and another is a personal passion of mine - game development using Unity, with curriculum I designed myself. If you want to learn more about me, I've attached my resume below!
            </p>
          </div>


          <div class="resume-container">
            <embed src="{{ site.baseurl }}/assets/pdf/resume.pdf" width="100%" height="1010px">
          </div>
        </div>
      </div>
    </main>

    {%- include footer.html -%}
  </body>

</html>
